<h1>Посты за день</h1>

<h3><%= @subscription.message %></h3>

Если вы получили это сообщение, перейдите пожалуйста по
<%= link_to 'ссылке', confirm_subscription_user_url(@subscription, @user) %>

<% @posts.each do |post| %>

  <article class="post">
    <section class="post-head">
      <h2><%= link_to post.title, "http://localhost:3000/posts/"+post.id.to_s%></h2>
      <small>
        <time><%= post.created_at.to_date.strftime("%d %B, %Y") %></time>

      </small>
    </section>

    <section class="post-summary">
      <%= post.summary %>
    </section>
  </article>

<% end %>

